.btn
    display block
    box-sizing border-box
    padding 7px 10px
    font-family 'Roboto'
    font-size 12px
    text-align center
    text-transform uppercase
    letter-spacing 2px
    color #fff
    cursor pointer
    background #888
    transition background .3s linear

    &:hover
        background #333
        transition background .3s linear