extends ../../templates/index
include ../../molecules/card/index
include ../../molecules/checkout/index

block content
	+checkout()
	+card({
		items:[
			{
				src:"http://s2.glbimg.com/D38qSDGMSMcXGyGnpA1DAffI_s0=/540x304/smart/filters:max-age(3600)/http://s03.video.glbimg.com/x720/5687458.jpg",
				alt:"Product 1",
				nameProduct:"Name product 1",
				priceProduct:"20,00",
				descriptionProduct:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut voluptatibus accusantium.",
				labelBtn: "Adicionar"
			},
			{
				src:"http://s2.glbimg.com/D38qSDGMSMcXGyGnpA1DAffI_s0=/540x304/smart/filters:max-age(3600)/http://s03.video.glbimg.com/x720/5687458.jpg",
				alt:"Product 2",
				nameProduct:"Name product 2",
				priceProduct:"150,00",
				descriptionProduct:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut voluptatibus accusantium.",
				labelBtn: "Adicionar"
			},
			{
				src:"http://s2.glbimg.com/D38qSDGMSMcXGyGnpA1DAffI_s0=/540x304/smart/filters:max-age(3600)/http://s03.video.glbimg.com/x720/5687458.jpg",
				alt:"Product 3",
				nameProduct:"Name product 3",
				priceProduct:"20,00",
				descriptionProduct:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut voluptatibus accusantium.",
				labelBtn: "Adicionar"
			},
			{
				src:"http://s2.glbimg.com/D38qSDGMSMcXGyGnpA1DAffI_s0=/540x304/smart/filters:max-age(3600)/http://s03.video.glbimg.com/x720/5687458.jpg",
				alt:"Product 4",
				nameProduct:"Name product 4",
				priceProduct:"20,00",
				descriptionProduct:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut voluptatibus accusantium.",
				labelBtn: "Adicionar"
			}
		]
	})