extends ../../templates/index
include ../../molecules/card/index
include ../../molecules/checkout/index

block content
	+checkout()
	+card({
		items:[
			{
				src:"https://avidadoce.com/wp-content/uploads/2016/02/receita-brigadeiro-300x172.jpg",
				alt:"Product 1",
				nameProduct:"Name product 1",
				priceProduct:"20,00",
				descriptionProduct:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut voluptatibus accusantium.",
				labelBtn: "Adicionar"
			},
			{
				src:"https://avidadoce.com/wp-content/uploads/2016/02/receita-brigadeiro-300x172.jpg",
				alt:"Product 2",
				nameProduct:"Name product 2",
				priceProduct:"150,00",
				descriptionProduct:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut voluptatibus accusantium.",
				labelBtn: "Adicionar"
			},
			{
				src:"https://avidadoce.com/wp-content/uploads/2016/02/receita-brigadeiro-300x172.jpg",
				alt:"Product 3",
				nameProduct:"Name product 3",
				priceProduct:"20,00",
				descriptionProduct:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut voluptatibus accusantium.",
				labelBtn: "Adicionar"
			},
			{
				src:"https://avidadoce.com/wp-content/uploads/2016/02/receita-brigadeiro-300x172.jpg",
				alt:"Product 4",
				nameProduct:"Name product 4",
				priceProduct:"20,00",
				descriptionProduct:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut voluptatibus accusantium.",
				labelBtn: "Adicionar"
			}
		]
	})