.card
	max-width 1200px
	margin 0 auto
	display flex
	justify-content space-around

.product
	max-width 200px
	margin 0 5px
	overflow hidden
	border 1px solid #afafaf

.product__thumb
	margin 0 0 10px 0
	overflow hidden

.product__description
	margin 0 0 10px 0
	padding 0 10px
	.p
		margin 10px 0 10px 0

.product__price
	font-size 13px

.product__actions
	margin 0 0 10px 0 
	padding 0 10px