.card
	width 200px
	overflow hidden
	border 1px solid #afafaf

.card__thumb
	margin 0 0 10px 0
	overflow hidden

.card__description
	margin 0 0 10px 0
	padding 0 10px

.card__actions
	margin 0 0 10px 0 
	padding 0 10px